lista-de-tarefas/node_modules
lista-de-tarefas/.vscode
lista-de-tarefas/.expo

primeiroApp/node_modules
primeiroApp/.expo

biscoito-da-sorte/node_modules
biscoito-da-sorte/.vscode
biscoito-da-sorte/.expo